@import './gameInputList.scss';
@import './gameInput.scss';
@import './gameOutput.scss';
@import './index.scss';
@import './variables.scss';

body{
  font-family: $general-text;
}

header{
  background-color: $general-background;
  font-family: $general-title;
  color: $general-primary;
  height: 125px;
  font-size: 28px;
}

h1{
  margin-top: 0;
  margin-bottom: 5px;
}

.App {
  text-align: center;
}

button{
  font-family: $general-title;
  color: $general-primary;
  background-color: $general-background;
}

.App-startBtn{
  margin-left: 15px;
  text-decoration: none;
  font-size: 18px;
  width: 115px;
  height: 55px;
  color: #eee;
}

.App-speechBtn{
  width: 44px;
  height:44px;
}
