
.GameOutput-container {
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/7e/83/9b/7e839b71335bbaa071d1c202119e0c7b.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: calc(100vh - 125px);
  z-index: 0;
  position: relative;
}

.video {
  border:1px double #eee;
  margin-top: 15%;
  margin-right: 25%;
  z-index: 2;
  width: 65%;
}

@media screen and (max-width: 900px){
  .video{
    margin-top: 20%;
  }
}

@media screen and (max-width: 768px){
  .video{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
