@import './variables.scss';

.GameOutput-textContainer {
  font-size: 14px;
  position: absolute;
  top: 1%;
  left: 65%;
  transform: translateX(-50%);
  z-index:3;
  width: 60%;
  margin: 20px;
  padding: 15px;
  background: $general-word-rgba;
  border-radius: 25px;
  box-shadow: 0px 0px 4px $general-background;
}

.GameOutput-textContainer:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 35%;
  border-right: 45px solid transparent;
  border-top: 55px solid $general-word-rgba;
  border-left: 20px solid transparent;
}

.GameOutput-wordContainer {
  display: inline-flex;
  flex-direction: column;
  margin: 0 4px;
}

.GameOutput-word, .GameOutput-type, .GameOutput-text {
  display: inline;
}

.GameOutput-word {
  color: $general-primary;
  margin: 0;
}

.GameOutput-type {
  padding: 4px 10px 0 10px;
  border-top: 1px solid $general-background;
  color: $general-background;
  margin: 0;
}

.GameOutput-text {
  line-height: 30px;
}

@media screen and (max-width: 900px){
  .GameOutput-textContainer {
    font-size: 13px;
    top: -1%;
    left: 55%;
    width: 70%;
  }
  .GameOutput-textContainer:after{
    left: 45%;
    border-right: 45px solid transparent;
    border-top: 35px solid $general-word-rgba;
    border-left: 20px solid transparent;
  }
}

@media screen and (max-width: 768px){
  .GameOutput-textContainer:before {
    position: absolute;
    content: '';
    top: -55px;
    left: 75%;
    border-right: 45px solid transparent;
    border-bottom: 55px solid $general-word-rgba;
    border-left: 20px solid transparent;
  }

  .GameOutput-textContainer {
    width: 80%;
    position: static;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    transform: translateX(0);
  }

  .GameOutput-textContainer:after {
    display: none;
  }
}

@media screen and (max-width: 400px){
  .GameOutput-textContainer:before {
    position: absolute;
    content: '';
    top: -45px;
    left: 70%;
    border-right: 45px solid transparent;
    border-bottom: 45px solid $general-word-rgba;
    border-left: 20px solid transparent;
  }

  .GameOutput-textContainer {
    font-size: 12px;
  }

  .GameOutput-text {
    line-height: 20px;
  }
}
