
.GameOutput-container {
  width: 100%;
  height: calc(100vh - 125px);
  z-index: 0;
  position: relative;
}

.video {
  border:1px solid #eee;
  margin-top: 165px;
  margin-right: 25%;
  width: 60%;
  max-width: 690px;
}


@media screen and (max-width: 900px){
  .video{
    margin-top: 20%;
  }
}

@media screen and (max-width: 768px){
  .video{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
