@import './variables.scss';

.game-input-card {
  width: 20%;
  margin: 10px;
  margin-top: 30px;
  padding: 45px 5px 0 5px;
  box-shadow: 0px 0px 10px $general-background;
  background-color: $general-secondary-rgba;
  height: 150px;
}

.game-input-card svg path{
  fill: $general-primary;
}

.game-input-card div{
  margin-bottom: 20px;
}

input{
  width: 75%;
  font-size: 15px;
  background-color: rgba(250, 250, 245, 0);
  color: $general-primary;
}

hr{
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  color: #888;
  border: 1px solid #888;
}

.game-input-card h4{
  font-size: 13px;
}

.game-input-listen {
  display: none;
}

.game-input-container-selected{
  box-shadow: 0px 0px 55px #fff;
}

.selected-word-input {
  text-align: center;
  border: none;
  outline: none;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

.selected-word-input_listening {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: listeningBar;
  border-bottom: 2px solid $general-primary;
}

.selected-word-input:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}

@keyframes listeningBar {
  0% {
    width: 0%
  }
  100% {
    width: 80%
  }
}

@media screen and (max-width: 768px){
  .game-input-card {
    width: 80%;
    height: auto;
  }

  input{
    font-size: 28px;
    height: 44px;
  }

  .selected-word-input {
    font-size: 24px;
  }
}

@media screen and (max-width: 360px){
  .game-input-card {
    width: 80%;
    height: 125px;
  }

  input{
    font-size: 24px;
    height: 44px;
  }
  .selected-word-input {
    font-size: 22px;
  }
}
