@import './variables.scss';

.game-input-card {
  width: 20%;
  margin: 10px;
  margin-top: 30px;
  padding: 45px 5px 0 5px;
  box-shadow: 0px 0px 3px $general-background;
  background-color: $general-secondary-rgba;
  height: 125px;
}

input{
  font-size: 15px;
  background-color: $general-secondary;
}

.game-input-card h4{
  font-size: 13px;
}

.game-input-listen {
  display: none;
}

.game-input-container-selected{
  box-shadow: 0px 0px 20px #61bfcc;
}

.selected-word-input {
  border: none;
  outline: none;
  padding: 5px;
  margin: 5px;
  font-size: 16px;
}

.selected-word-input_listening {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: listeningBar;
  border-bottom: 2px solid $general-primary;
}

.selected-word-input:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}

@keyframes listeningBar {
  0% {
    width: 0%
  }
  100% {
    width: 80%
  }
}
