@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Lato');

//Fonts
$general-text: 'Lato';
$general-title: 'Fredoka One';

//Colors
$general-primary: #cc0000;
$general-secondary: #efefef;
$general-secondary-rgba: rgba(250, 250, 245, 0.8);
$general-word-rgba: rgba(250, 250, 245, 0.95);
$general-tertiary: #b861cc;
$general-background: #333;


//Backgrounds
$romance-background: url('https://static.pexels.com/photos/169215/pexels-photo-169215.jpeg');

$header-height: 125px;
